<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-8 col-sm-12 offset-md-2 offset-sm-0 text-center">
            <h3>
                EasyShip
            </h3>
        </div>
        <hr>
        <div class="col-md-8 col-sm-12 offset-md-2 offset-sm-0 mt-4">
            <h6>
                Introduction
            </h6>
            <p> 
                EasyShip is a one stop shop for all your fashion and lifestyle needs.
                Being India's largest e-commerce store for fashion and lifestyle products, 
                EasyShip aims at providing a hassle free and enjoyable shopping experience to shoppers across the country with the widest range of brands and products on its portal. 
                The brand is making a conscious effort to bring the power of fashion to shoppers with an array of the latest and trendiest products available in the country.
            </p>
        </div>
        <hr>
        <div class="col-md-8 col-sm-12 offset-md-2 offset-sm-0">
            <h6>
                Value proposition
            </h6>
            <p>        
EasyShip's value proposition revolves around giving consumers the power and ease of purchasing fashion and lifestyle products online. Offerings such as the largest in-season product catalogue, 100% authentic products, cash on delivery and 30 day return policy make EasyShip, the preferred shopping destination in the country. To make online shopping easier for you, a dedicated customer connect team is on standby to answer your queries 24x7.           </p>
        </div>
        <hr>
        <div class="col-md-8 col-sm-12 offset-md-2 offset-sm-0">
            <h6>
                Brands
            </h6>
            <p> 
                EasyShip understands its shoppers' needs and caters to them with choice of apparel, accessories, cosmetics and footwear from over 500 leading Indian and international brands. Prominent brands include Adidas, Nike, Puma, Catwalk, Inc 5, United Colors of Benetton, FCUK, Timberland, Avirate, FabIndia and Biba to name a few. You can also shop from some recently introduced labels such as - Roadster, Sher Singh, Dressberry, Kook N Keech and ETC.           </p>
        </div>
    </div>
</div>