<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/easyShipLogo.jpg" class="image-responsive" id="easyShipLogo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories/men" id="menDropdown">
            MEN
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/categories/women" id="womenDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            WOMEN
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/categories/kid" id="kidsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            KIDS
          </a>
        </li>
      </ul>

      <!-- Search Bar -->
      <form class="my-2 my-lg-0 mr-auto w-50">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Profile and Cart -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" id="menDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PROFILE
          </a> 
          <div class="dropdown-menu" style="width: 30px;" aria-labelledby="menDropdown">
            <div *ngIf="!this.userService.getUserAuthentication()">
              <a class="dropdown-item text-danger" routerLink="/login">
                  Login/Signup
              </a>
            </div>
            <div *ngIf="this.userService.getUserAuthentication()" class="text-center">
              Hello {{this.userService.getUserEmail()}}
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/profile">My Profile</a>
            <a class="dropdown-item" routerLink="/orders">Orders</a>
            <a class="dropdown-item" routerLink="/aboutus">About Us</a>
            <div *ngIf="this.userService.isAdmin()">
              <a class="dropdown-item" routerLink="/admin">Admin</a>
            </div>
            <div *ngIf="this.userService.getUserAuthentication()">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" (click)="userLogOutHandler()" routerLink="/home">Log Out</a>
            </div>
          </div>
        </li>
        <li class="nav-item" *ngIf="this.router.url!='/cart' && this.router.url!='/checkout/address' && this.router.url!='/checkout/payment' && !this.userService.isAdmin()">
          <a class="nav-link" routerLink="/cart" id="cartHeader">
            CART
            <span *ngIf="this.cartService.getCartItemsLength()" class="badge badge-secondary">
              {{this.cartService.getCartItemsLength()}}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>