<div class="container mt-3">
    <div class="row m-auto text-center">
        <div class="col-3">
            <div class="text-light mt-3">
                ABOUT
            </div>
            <ul class="list-unstyled mt-2 text-danger">
                <li><a routerLink="/contactus">Contact Us</a></li>
                <li><a routerLink="/aboutus">About Us</a></li>
                <li><a routerLink="/home">Careers</a></li>
            </ul>
        </div>
        <div class="col-3">
            <div class="text-light mt-3">
                SOCIAL
            </div>
            <ul class="list-unstyled mt-2 text-danger">
                <li><a routerLink="/home">Facebook</a></li>
                <li><a href="https://www.linkedin.com/in/narendra-nareda-96a90113b/" target="_blank">LinkedIn</a></li>
                <li><a routerLink="/home">Youtube</a></li>
            </ul>
        </div>
        <div class="col-3">
            <div class="text-light mt-3">
                POLICY
            </div>
            <ul class="list-unstyled mt-2 text-danger">
                <li><a routerLink="/home">Return Policy</a></li>
                <li><a routerLink="/home">Terms of use</a></li>
                <li><a routerLink="/home">Privacy</a></li>
            </ul>
        </div>
        <div class="col-3">
            <div class="text-light mt-3">
                HELP
            </div>
            <ul class="list-unstyled mt-2 text-danger">
                <li><a routerLink="/contactus">Payments</a></li>
                <li><a routerLink="/contactus">Shipping</a></li>
                <li><a routerLink="/contactus">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div class="row text-center mb-3">
        <div class="col-12">
            @2020 EasyShip.com. All rights reserved.
        </div>
    </div>
</div>